@model IEnumerable<Shop_Mobi.Databases.tbl_chitietdonhang>
@{
    ViewBag.Notice = "Chi tiết đơn hàng";
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã đơn hàng
                </th>
                <th>
                    Mã sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Tổng giá
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i += 1;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(Item => item.id_don)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_sp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soluong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gia * item.soluong)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.id_don }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.id_don })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã đơn hàng
                </th>
                <th>
                    Mã sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Tổng giá
                </th>
                <th>

                </th>
            </tr>
        </tfoot>
    </table>
</div>
