@model IEnumerable<Shop_Mobi.Databases.tbl_sanpham>
@{
    ViewBag.Title = "DienThoai";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box-body">
    @Html.ActionLink("Thêm Mới", "themspmoi")
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Trọng lượng
                </th>
                <th>
                    ROM
                </th>
                <th>
                    RAM
                </th>
                <th>
                    Thẻ nhớ
                </th>
                <th>
                    Camera Trước
                </th>
                <th>
                    Camera Sau
                </th>
                <th>
                    Pin
                </th>
                <th>
                    Bảo Hành
                </th>
                <th>
                    Bluetooth
                </th>
                <th>
                    CPU
                </th>
                <th>
                    Màn Hình
                </th>
                <th>
                    Tình Trạng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soluong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trongluong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ROM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.thenho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.camera_truoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.camera_sau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.baohanh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bluetooth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.manhinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tinhtrang)
                    </td>
                    <td>
                        <a href="~/Admin/Home/suasp/?id=@item.id" style="text-decoration: none">Sửa</a> |
                        @Html.ActionLink("Xóa", "Delete")
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Trọng lượng
                </th>
                <th>
                    ROM
                </th>
                <th>
                    RAM
                </th>
                <th>
                    Thẻ nhớ
                </th>
                <th>
                    Camera Trước
                </th>
                <th>
                    Camera Sau
                </th>
                <th>
                    Pin
                </th>
                <th>
                    Bảo Hành
                </th>
                <th>
                    Bluetooth
                </th>
                <th>
                    CPU
                </th>
                <th>
                    Màn Hình
                </th>
                <th>
                    Tình Trạng
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>




