@model IEnumerable<Shop_Mobi.Databases.tbl_nhasanxuat>
@{
    ViewBag.Notice = "Nha San Xuat";
    ViewBag.Title = "nhasanxuat";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>nhasanxuat</h2>
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    ten
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Item => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ten)
                    </td>
                    <td>
                        @Html.ActionLink("Thêm", "Create", new { id = item.id }) |
                        @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    ten
                </th>
            </tr>
        </tfoot>
    </table>
</div>


