@model IEnumerable<Shop_Mobi.Databases.tbl_xulydon>
@{
    ViewBag.Title = "xulydon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>xulydon</h2>
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Id tk
                </th>
                <th>
                    Id don
                </th>
                <th>
                    tinh trang
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(Item => item.id_tk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_don)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tinhtrang)
                </td>
                <td>
                    @Html.ActionLink("Thêm", "Create", new { id = item.id_tk }) |
                    @Html.ActionLink("Sửa", "Edit", new { id = item.id_tk }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id_tk })

                </td>
                <td>
                    @Html.ActionLink("Thêm", "Create", new { id = item.id_don }) |
                    @Html.ActionLink("Sửa", "Edit", new { id = item.id_don }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id_don })

                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Id tk
                </th>
                <th>
                    Id don
                </th>
                <th>
                    tinh trang
                </th>
            </tr>
        </tfoot>
    </table>
</div>
